<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= appName %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
	<base href="/">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="styles/main.css">

</head>
<body>
	<script>document.write('<script src="http://' + (location.host || '127.0.0.1').split(':')[0] + ':35729/livereload.js"></' + 'script>')</script>
	<script data-main="requirejs.js" src="bower_components/requirejs/require.js"></script>
</body>
</html>
